<h1>ImpyMoney</h1>

<%= link_to 'Recurring transactions', controller: 'recurring_transactions' %><br>


<%= link_to 'Transactions', controller: 'transactions' %><br>

<!--
<%= link_to 'Recurrence types', controller: 'recurrence_types' %><br>


<%= link_to 'Iterations', controller: 'iterations' %><br>
-->